<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=8, user-scalable=yes">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css?id=' ~ cache_id) }}" rel="stylesheet">

    <title>ThirdEye - {{ hostname }}</title>
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: #2f353c;">
            <img src="{{ url_for('static', path='/eye.png') }}" width="10" alt="">
            <img id="eye" src="{{ url_for('static', path='/eye.png') }}" width="25" alt="">
            <img src="{{ url_for('static', path='/eye.png') }}" width="10" alt="">
            Third Eye <span id="spinner">...</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <span id="last-heart-beat-time" class="navbar-text">
                        Loading heart-beat...
                    </span>
        </div>
    </div>
</nav>

<!-- Container for content -->
<div class="container-sm mt-2" id="content-container">
    <div class="row mb-2">
        <div class="col d-flex justify-content-center">
            <div class="btn-group" role="group">
                <button type="button" id="btn-video-stream" class="btn btn-outline-info btn-sm active">
                    Live Stream
                </button>
                <button type="button" id="btn-motion-analysis" class="btn btn-outline-info btn-sm">
                    Motion
                </button>
                <button type="button" id="btn-objects-analysis" class="btn btn-outline-info btn-sm">
                    Object Detection
                </button>
                <button type="button" id="btn-forensics" class="btn btn-outline-info btn-sm">
                    Forensics
                </button>
            </div>
        </div>
    </div>
    <figure class="figure" id="video-stream">
        <img src="{{ video_feed_url }}" class="figure-img img-fluid rounded" alt="Video Feed">
        <figcaption class="figure-caption text-end">Live Stream For: {{ hostname }}</figcaption>
    </figure>
    <figure class="figure" id="motion-analysis" style="height: 400px"></figure>
    <figure class="figure" id="objects-analysis" style="height: 400px"></figure>
    <figure class="figure" id="forensics" style="height: 400px">
        <div class="d-flex justify-content-center">
            <div class="col text-center" style="background-color: green;">
                Select Dates
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col text-center" style="background-color: blue;">
                Select Time
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col text-center" style="background-color: red;">
                Images
            </div>
        </div>
    </figure>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous">
</script>

<!-- Hammer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
        integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
        crossorigin="anonymous"></script>

<!-- Touch emulator (for testing only) -->
<script src="{{ url_for('static', path='/touch-emulator.js') }}"></script>

<!-- Plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>